<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ComputerLock</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="submit_file/style.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>

    <body>
        
        <header id="header">
            <div class="wrapper">
                <div id="logo">
                    <a href="index.html">ComputerLock</a>
                </div>
                <nav id="navigation">
                    <ul class="main-nav">
                        <li><a href="/settings">EDIT YOUR SETTINGS</a></li>
                        <li><a href="/notifications">VIEW NOTIFICATIONS</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                    
                    <ul class="tool-nav">
                        <li class="user">
                            <a href="/log_in">Log &nbsp;&nbsp; in</a>
                            <span>or</span>
                            <a class="sign-up highlight" href="/sign_up">Sign &nbsp;&nbsp; up</a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            
        </header>
        
        <section>
            <div class="page-content">
                <div class="wrapper">
                    
                    <div class="page-title">
                        <h1>Welcome to the ComputerLock Project!</h1>
                    </div>
                    
                    <div class="page-content">
                        <div class="row">
                            <div class="title">
                                <div class="title-text">What is this?</div>
                            </div>
                            
                            <div class="content">
                                <div>
                                    This is the website for my final project in Gvahim's Cyber program
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="title">
                                <div class="title-text">Does this website have a purpose other than to give information to visitors?</div>
                            </div>
                            
                            <div class="content">
                                <div>You can sign up to receive a token and be able to set the file settings for your network of computers.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="wrapper">
                <nav>
                    <ul>
                        <li><a href="/index">HOME</a></li>
                        <li><a href="/settings">EDIT YOUR SETTINGS</a></li>
                        <li><a href="/notifications">VIEW NOTIFICATIONS</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>
