<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ComputerLock</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="submit_file/style.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script id="window-switcher">
            function switchPage(from, to){
                from.parentNode.parentNode.parentNode.classList.add("swF");
                $("#"+to).addClass("swT");
                
                $(".swF").css("position", 'absolute');
                $(".swT").css("position", 'relative');
                
                $(".swT").css("top",$(".swF").css("top"));
                $(".swF").css("top",-1000);
                $(".swT").css("top", 0);
                
                setTimeout(function(){
                $(".swT").removeClass("swT");
                $(".swF").removeClass("swF");
                },600);
            }
        </script>
    </head>

    <body>
        
        <header id="header">
            
            <div class="wrapper">
                <div id="logo">
                    <a href="/">ComputerLock</a>
                </div>
                <nav id="navigation">
                    <ul class="main-nav">
                        <li><a href="/settings">EDIT YOUR SETTINGS</a></li>
                        <li><a href="/notifications">VIEW NOTIFICATIONS</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                    
                    <ul class="tool-nav">
                        <li class="user">
                            <a href="/log_in">Log &nbsp;&nbsp; in</a>
                            <span>or</span>
                            <a class="sign-up highlight" href="/sign_up">Sign &nbsp;&nbsp; up</a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            
        </header>
        
        <section>
            <div class="page-content">
                <div class="wrapper">
                    
                    <div class="page-title">
                        <h1>Edit your settings!</h1>
                    </div>
                    
                    
                     <div class="row smooth-animation" style="top: 0px; position: relative;" id="remove">
                            <div class="title">
                                <div class="title-text">Remove existing settings here. Make sure each setting is separated by new lines.<br />Your token is {{ token }}.</div>
                            </div>
                            
                            <div class="content">
                                <br>
                                <form action="remove_settings" method="POST" class="center">
                                    <center> 
                                        <textarea name="removed-settings" id="remove-settings" required placeholder="Remove existing settings here"></textarea>
                                    </center>
                                    
                                    <br>
                                    <div style="text-align:center;">
                                        <button class="settings-button" type="submit">Save Removals</button>
                                    </div>
                                </form>

                                <div style="text-align:center;">
                                    <hr class="splitter">
                                    Want to add new settings?
                                    <div style="font-size: 8px;"><br></div>
                                    <form action="/settings">
                                        <button class="settings-button" type="submit">Add Settings</button>
                                    </form>
                                    <div><br></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="wrapper">
                <nav>
                    <ul>
                        <li><a href="/index">HOME</a></li>
                        <li><a href="/settings">EDIT YOUR SETTINGS</a></li>
                        <li><a href="/notifications">VIEW NOTIFICATIONS</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>
